<section>
    <mat-card [routerLink]=" [ 'tasks' ]">
      <mat-card-header>
        <mat-card-title>Matematicas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quo earum enim harum blanditiis nesciunt cumque quaerat, doloremque natus quae at laboriosam dolores voluptate autem perferendis aliquid laudantium et optio magni recusandae ut, magnam nam? Ab commodi, explicabo accusantium cumque veniam nostrum voluptatem! Doloremque repellendus mollitia saepe ipsa nobis illo, error quam architecto consequatur voluptates, quas minima officiis inventore hic dolorem unde cum libero perferendis cupiditate pariatur ut odio fugit sapiente vel. Repudiandae possimus vero est necessitatibus laboriosam, id asperiores cupiditate vitae, assumenda molestias impedit totam aliquid repellat aperiam? Praesentium, provident omnis. Omnis quia tempora nisi est. Animi mollitia totam consectetur ex quo atque, eos maxime laudantium aspernatur ipsum minima, quis nobis porro id, ipsa possimus asperiores sapiente vitae qui error incidunt aut!
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card [routerLink]=" [ 'tasks' ]">
      <mat-card-header>
        <mat-card-title>Lenguaje</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quo earum enim harum blanditiis nesciunt cumque quaerat, doloremque natus quae at laboriosam dolores voluptate autem perferendis aliquid laudantium et optio magni recusandae ut, magnam nam? Ab commodi, explicabo accusantium cumque veniam nostrum voluptatem! Doloremque repellendus mollitia saepe ipsa nobis illo, error quam architecto consequatur voluptates, quas minima officiis inventore hic dolorem unde cum libero perferendis cupiditate pariatur ut odio fugit sapiente vel. Repudiandae possimus vero est necessitatibus laboriosam, id asperiores cupiditate vitae, assumenda molestias impedit totam aliquid repellat aperiam? Praesentium, provident omnis. Omnis quia tempora nisi est. Animi mollitia totam consectetur ex quo atque, eos maxime laudantium aspernatur ipsum minima, quis nobis porro id, ipsa possimus asperiores sapiente vitae qui error incidunt aut!
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card [routerLink]=" [ 'tasks' ]">
      <mat-card-header>
        <mat-card-title>Ciencias Sociales</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quo earum enim harum blanditiis nesciunt cumque quaerat, doloremque natus quae at laboriosam dolores voluptate autem perferendis aliquid laudantium et optio magni recusandae ut, magnam nam? Ab commodi, explicabo accusantium cumque veniam nostrum voluptatem! Doloremque repellendus mollitia saepe ipsa nobis illo, error quam architecto consequatur voluptates, quas minima officiis inventore hic dolorem unde cum libero perferendis cupiditate pariatur ut odio fugit sapiente vel. Repudiandae possimus vero est necessitatibus laboriosam, id asperiores cupiditate vitae, assumenda molestias impedit totam aliquid repellat aperiam? Praesentium, provident omnis. Omnis quia tempora nisi est. Animi mollitia totam consectetur ex quo atque, eos maxime laudantium aspernatur ipsum minima, quis nobis porro id, ipsa possimus asperiores sapiente vitae qui error incidunt aut!
        </p>
      </mat-card-content>
    </mat-card>
  </section>