<section>
  <div class="courses-container">
    <mat-card
      class="example-card"
      *ngFor="let course of courseList"
      [routerLink]=" [ getQuestionnairesPath(course.id) ] ">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <mat-icon>menu_book</mat-icon>
        </div>
        <mat-card-title>{{course.name}}</mat-card-title>
        <!-- TODO: create interfaces and a way to build courses -->
        <mat-card-subtitle>
          {{course.subjectList}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{course.description}}
        </p>
      </mat-card-content>
      <!-- TODO: look for the best actions for a course -->
      <!-- <mat-card-actions class="buttons-container">
        <button mat-button>Students</button>
        <button mat-button>Subjects</button>
      </mat-card-actions> -->
    </mat-card>
  </div>

  <div class="floating-action-buttons buttons-container">
    <button mat-fab color="primary"
      (click)="openCourseDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</section>
