<section>
  <div class="courses-container">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <mat-icon>menu_book</mat-icon>
        </div>
        <mat-card-title>1st Primary</mat-card-title>
        <mat-card-subtitle>Math, Literature, Science Basic</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, quae doloribus unde rem aliquid eos ipsam saepe officia commodi asperiores cum modi nisi facere, illum distinctio possimus excepturi, aspernatur quidem?
        </p>
      </mat-card-content>
      <mat-card-actions class="buttons-container">
        <button mat-button>Students</button>
        <button mat-button>Subjects</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="courses-container">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <mat-icon>menu_book</mat-icon>
        </div>
        <mat-card-title>1st Primary</mat-card-title>
        <mat-card-subtitle>Math, Literature, Science Basic</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, quae doloribus unde rem aliquid eos ipsam saepe officia commodi asperiores cum modi nisi facere, illum distinctio possimus excepturi, aspernatur quidem?
        </p>
      </mat-card-content>
      <mat-card-actions class="buttons-container">
        <button mat-button>Students</button>
        <button mat-button>Subjects</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="courses-container">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <mat-icon>menu_book</mat-icon>
        </div>
        <mat-card-title>1st Primary</mat-card-title>
        <mat-card-subtitle>Math, Literature, Science Basic</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, quae doloribus unde rem aliquid eos ipsam saepe officia commodi asperiores cum modi nisi facere, illum distinctio possimus excepturi, aspernatur quidem?
        </p>
      </mat-card-content>
      <mat-card-actions class="buttons-container">
        <button mat-button>Students</button>
        <button mat-button>Subjects</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="courses-container">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <mat-icon>menu_book</mat-icon>
        </div>
        <mat-card-title>1st Primary</mat-card-title>
        <mat-card-subtitle>Math, Literature, Science Basic</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, quae doloribus unde rem aliquid eos ipsam saepe officia commodi asperiores cum modi nisi facere, illum distinctio possimus excepturi, aspernatur quidem?
        </p>
      </mat-card-content>
      <mat-card-actions class="buttons-container">
        <button mat-button>Students</button>
        <button mat-button>Subjects</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="courses-container">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <mat-icon>menu_book</mat-icon>
        </div>
        <mat-card-title>1st Primary</mat-card-title>
        <mat-card-subtitle>Math, Literature, Science Basic</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, quae doloribus unde rem aliquid eos ipsam saepe officia commodi asperiores cum modi nisi facere, illum distinctio possimus excepturi, aspernatur quidem?
        </p>
      </mat-card-content>
      <mat-card-actions class="buttons-container">
        <button mat-button>Students</button>
        <button mat-button>Subjects</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="floating-action-buttons buttons-container">
    <button mat-fab color="primary"
      (click)="openCourseDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</section>
