
<section *ngIf="task">
  <div class="courses-container"  >
    <mat-card>
      <mat-card-header>
        <mat-card-title >{{task.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
            <form class="example-form" *ngFor="let question of task.questions">            
              <mat-form-field class="example-full-width">
                <mat-label>{{question.question}}</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card>
  </div>
</section>