<section>
  <div class="courses-container">
    <mat-card
      class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="header-image">
          <mat-icon>menu_book</mat-icon>
        </div>
        <mat-card-title>Questionary Test</mat-card-title>
        <mat-card-subtitle>
          Basic Literature
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Questionary Description
        </p>
      </mat-card-content>
      <!-- TODO: look for the best actions for a questionary -->
      <!-- <mat-card-actions class="buttons-container">
        <button mat-button>Students</button>
        <button mat-button>Subjects</button>
      </mat-card-actions> -->
    </mat-card>
  </div>

  <div class="floating-action-buttons buttons-container">
    <button mat-fab color="primary"
      (click)="openQuestionaryDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</section>
